USE [ns04(partition)]
GO
/****** Object:  Table [dbo].[vsShort]    Script Date: 12/13/2011 19:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vsShort](
	[vname] [varchar](50) NULL,
	[vsignature] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vsLong]    Script Date: 12/13/2011 19:03:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vsLong](
	[vname] [varchar](50) NULL,
	[vsignature] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
